@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f7f4f3;
  --text: #755d52;
}

body {
  width: 100dvw;
  height: 100dvh;
  color: var(--text);
  background: var(--bg);
  font-family: "zen maru gothic", sans-serif;
}
